<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

    {{>navbar}}

    <!-- weather section start -->
     {{>weathersection}}
    <!-- weather section end -->


   {{>footer}}
   <script src="js/main.js"></script>
   {{!-- <script>

    const getCurrentDay = () => {
        let weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        let currentTime = new Date();
        let days = weekday[currentTime.getDay()];
        let day = document.getElementById("day");

       
       day.innerText = days;
    };

    getCurrentDay();
   </script> --}}

</body>
</html>
